body {
    background-image: url("images/Take_the_uploaded_image_and_re_Z-Image_Turbo_37863.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	font-family: "LilGrotesk-Regular", sans-serif;
}
